<launch>
  <param name="knife_description" textfile="$(find knife)/urdf/knife.urdf" /> 

  <node pkg="bluest" name="sensortile" type="blerun" args="$(find bluest)/scripts/main.py"/>

  <node pkg="imu_complementary_filter" name="imu_fusion" type="complementary_filter_node">
    <param name="publish_debug_topics" value="true"/>
    <param name="use_mag" value="true"/>
  </node>

  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find knife)/urdf.rviz" /> 

  <node pkg="tf" type="static_transform_publisher" name="sensor_base_tf" args="0 0 0 0 0 0 /sensortile_imu /base_link 100"/> 
<!--
  <node pkg="joint_state_publisher" name="knife_joint_state" type="joint_state_publisher">
    <remap from="robot_description" to="knife_description" />
    <param name="use_gui" value="true"/>
  </node>
-->
  <node pkg="bluest" name="rpy_translator" type="rpy_translator.py" />

  <node pkg="robot_state_publisher" name="knife_robot_state" type="robot_state_publisher">
    <remap from="robot_description" to="knife_description" />
    <remap from="joint_states" to="imu_rpy_filtered" />
  </node>
</launch>

